<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiejie.equib.bean.RegUserMapper">
	<resultMap type="RegUser" id="RegUserMap">
		<id column="u_no" property="u_no" />
		<result column="u_name" property="u_name" />
		<result column="u_pwd" property="u_pwd" />
		<result column="u_time" property="u_time" />

	</resultMap>
	
	<insert id="add" parameterType="com.jiejie.equib.bean.RegUser">
	insert into user(u_name,u_pwd,u_time)
	values(#{u_name},#{u_pwd},#{u_time})
	</insert>
	
	<select id="login" parameterType="map" resultMap="RegUserMap">
	select * from user where u_name=#{u_name} and u_pwd=#{u_pwd}
	</select>


</mapper>